/* styles/Navbar.css */
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--primary-color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    width: auto;
    margin-right: 10px;
}

.menu button {
    background-color: transparent;
    color: var(--text-color);
    border: 1px solid var(--primary-color);
    margin-left: 10px;
}
